<%= form_for(@car, url: cars_path) do |f| %>
  <h1> Step:1 Add Details <h1>
  <div>
    <%= f.label :vendor, style: "display: block" %>
    <%= f.text_field :vendor %>
  </div>

  <div>
    <%= f.label :car_name, style: "display: block" %>
    <%= f.text_field :car_name %>
  </div>

  <div>
    <%= f.label :model, style: "display: block" %>
    <%= f.text_field :model %>
  </div>

  <div>
    <%= f.label :engine_Capacity, style: "display: block" %>
    <%= f.text_field :engine_capacity %>
  </div>

  <div>
    <%= f.label :millage, style: "display: block" %>
    <%= f.text_field :millage %>
  </div>

  <div>
    <%= f.label :category, style: "display: block" %>
    <%= f.text_field :category %>
  </div>

  <div>
    <%= f.label :color, style: "display: block" %>
    <%= f.text_field :color %>
  </div>

  <div>
    <%= f.label :price, style: "display: block" %>
    <%= f.text_field :price %>
  </div>
  <br>
  <div>
    <%= f.submit 'Next Step'%>
  </div>
  
<% end %>


<%#= link_to "Back to Car", cars_path %>
