<div class="row">
  <% @cars.each do |car| %>
    <div class="card" style="width: 40rem;">
      <% car.images.each do |image| %>
        <%= image_tag image, class: "card-img-top"  %>
      <% end %>
      <div class="card-body">
        <h5 class="card-title"><%= car.car_name %> </h5>
        <p class="card-text"><%= car.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= car.vendor %></li>
        <li class="list-group-item"><%= car.car_name %></li>
        <li class="list-group-item"><%= car.model %></li>
      </ul>
      <div class="card-body">
        <a class="card-link"><%= link_to "Show", car_path(car), class: "btn btn-secondary" %></a>
      </div>
    </div>
  <% end %>
</div>
<%= link_to "New car", new_car_path, class: "btn btn-primary" %>
