<h1>Add a Car</h1>

<%= form_for(@car, url: car_step2_path(@car)) do |f| %>
  <h2>Step 2: Image</h2>
  <div>
    <%= f.label :image, style: "display: block" %>
    <%= f.file_field :image %>
  </div>
<br>
  <%= f.submit 'Next Step'%>/
  <%= link_to 'Back', new_car_path%>
<% end %>
